extend layout/common
block content
    .join-container
        header.join-header
            h1
            i.fas.fa-smile
            |  ChatCord
        main.join-main
            form(action='chat.html')
            .form-control
                label(for='username') Username
                input#username(type='text' name='username' placeholder='Enter username...' required='')
            .form-control
                label(for='room') Room
                select#room(name='room')
                    option(value='JavaScript') JavaScript
                    option(value='Python') Python
                    option(value='PHP') PHP
                    option(value='C#') C#
                    option(value='Ruby') Ruby
                    option(value='Java') Java
            button.btn(type='submit') Join Chat
